<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for PX4 based FCU's -->

	<!-- Launching nodes and for Quad9 -->
	<node pkg="offboard_control" name="Quad9_control" type="offboard_control_node" output="screen">
		<param name="att_mode_rate" value="10"/>
		<param name="pos_mode_rate" value="50"/>
		<param name="landing_z" value="0.11"/>
		<param name="takeoff_z" value="1.4"/>
		<param name="takeoff_speed" value="1.5"/>
		<param name="quad_name" value="Quad9"/>
	</node>

	<node pkg="offboard_control" name="Quad9_gazebo_remap" type="gazebo_vicon_remap_node" output="screen">
		<param name="quad_name" value="Quad9"/>
		<param name="frequency" value= "100" />
	</node>

	<!-- Launching nodes for Quad10 -->

	<node pkg="offboard_control" name="Quad10_control" type="offboard_control_node" output="screen">
		<param name="att_mode_rate" value="10"/>
		<param name="pos_mode_rate" value="20"/>
		<param name="landing_z" value="0.11"/>
		<param name="takeoff_z" value="1.4"/>
		<param name="takeoff_speed" value="1.5"/>
		<param name="quad_name" value="Quad10"/>
	</node>

	<node pkg="offboard_control" name="Quad10_gazebo_remap" type="gazebo_vicon_remap_node" output="screen">
		<param name="quad_name" value="Quad10"/>
		<param name="frequency" value= "100" />
	</node>

</launch>